<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Cadastro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../css/cadastro.css" type="image/x-icon" />
    <link rel="stylesheet" href="../css/cadastro.css" />
  </head>
  <body>
    <div class="login-box">
      <form action="/cadastro" method="POST">
        <img src="../img/logo.png" alt="logo" class="logo" />
        <h3>Cadastre-se e comece a trocar!</h3>

        <input
          type="text"
          id="nome"
          name="nome"
          placeholder="Digite seu nome"
          value="<%= valores.nome %>"
          class="<%= erroValidacao.nome %>"
        />
        <span class="msgErro"><%= msgErro.nome %></span>

        <input
          type="text"
          id="email"
          name="email"
          placeholder="Digite seu e-mail"
          value="<%= valores.email %>"
          class="<%= erroValidacao.email %>"
        />
        <span class="msgErro"><%= msgErro.email %></span>

        <input
          type="password"
          id="senha"
          name="senha"
          placeholder="Digite sua senha"
          value="<%= valores.senha %>"
          class="<%= erroValidacao.senha %>"
        />
        <span class="msgErro"><%= msgErro.senha %></span>

        <input
          type="password"
          id="confirmarSenha"
          name="confirmarSenha"
          placeholder="Confirme sua senha"
          value="<%= valores.confirmarSenha %>"
          class="<%= erroValidacao.confirmarSenha %>"
        />

        <span class="msgErro"><%= msgErro.confirmarSenha %></span>

        <button class="btn verde" id="btnClique" type="submit">
          Cadastre-se
        </button>
      </form>
    </div>
  </body>
</html>