<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Conexão por Créditos - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/login.css" />
    <link rel="icon" href="../img/img logo.png" />
  </head>
  <body>
    <div class="login-box">
      <div class="container">
        <img src="../img/img cpc-verde.jpeg" alt="Logo" class="logo" />
        <h2 class="subtitulo">Conexão por créditos</h2>

        <h1>Entrar</h1>
        <form action="/login" method="POST">
          <div class="input-group">
            <span class="icon">@</span>

            value="<%= (valores && valores.usuarioDigitado) || '' %>

      <div class="input-group">
        <span class="icon">@</span>
        <input
          type="text"
          id="usuarioDigitado"
          name="usuarioDigitado"
          placeholder="Digite seu email"
          value="<%= valores.usuarioDigitado || '' %>"
          class="<%= erro ? 'erro' : '' %>"
        />
      </div>
      
      <div class="input-group">
        <span class="icon">🔒</span>
        <input
          type="password"
          id="senhaDigitada"
          name="senhaDigitada"
          placeholder="Digite sua senha"
          value="<%= valores.senhaDigitada || '' %>"
          class="<%= erro ? 'erro' : '' %>"
        />
      </div>      

          <% if (erro) { %>
          <span class="msgErro"><%= erro %></span>
          <% } %>

          <div class="esquei-senha">
            <a href="recuperar-senha.ejs">Esqueceu a senha?</a>
          </div>

          <button
            type="submit"
            class="btn verde"
            onclick="window.location.href='/conta'"
          >
            Acessar
          </button>
        </form>

        <p class="ou">OU</p>

        <button
          class="btn google"
          onclick="window.location.href='https://accounts.google.com/'"
        >
          <img src="../img/img google.png" alt="Google" class="google-icon" />
          Entrar com Google
        </button>

        <button class="btn verde" onclick="window.location.href='/cadastro'">
          Cadastre-se
        </button>
      </div>
    </div>
 </body>
</html>